<%- include('partials/header',{isAuthenticated:isAuthenticated}) %>
<!-- <form action="/cart" method="POST"> -->
<div class="cnt">
    <div class="crt">
        <h2 class="py-4 font-weight-bold">
            Cart (<%= cart.products.length %> items)
        </h2>
        <!-- <div class=""> -->
        <% cart.products.forEach(function(product){ %>
        <div class="crd">
            <!-- cart images div -->
            <div class="crd-img">
                <img
                    src="\<%=product.img.path[0]%>"
                    class="img-fluid"
                    alt="cart img"
                />
            </div>
            <!-- cart product details -->
            <div class="crd-dtl">
                <div class="crd-top">
                    <!-- product name  -->
                    <div class="prd-name">
                        <h1 class="mb-4 product_name"><%=product.name%></h1>
                        <p class="mb-2"><%=product.description%></p>
                    </div>
                    <!-- quantity inc dec -->
                    <div class="prd-qty">
                        <ul class="pagination justify-content-end set_quantity">
                            <li class="page-item">
                                <a href="/cart/<%=product.productId%>/decrqty"
                                    ><button
                                        class="page-link"
                                        onclick="decreaseNumber('textbox','itemval')"
                                    >
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </a>
                            </li>
                            <li class="page-item">
                                <input
                                    type="text"
                                    name=""
                                    class="page-link"
                                    value="<%=product.quantity%>"
                                    id="textbox"
                                />
                            </li>
                            <li class="page-item">
                                <a href="/cart/<%=product.productId%>/incrqty">
                                    <button
                                        class="page-link"
                                        onclick="increaseNumber('textbox','itemval')"
                                    >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //remover move and price -->
                <div class="crd-bottom">
                    <div class="remove">
                        <a href="/cart/<%=product.productId%>/remove">
                            <p><i class="fas fa-trash-alt"></i> Remove</p>
                        </a>
                    </div>
                    <div class="wish">
                        <p><i class="fas fa-heart"></i> WishList</p>
                    </div>
                </div>
                <div class="prc">
                    <h3>₹<span id="itemval"> <%=product.price%> </span></h3>
                </div>
            </div>
        </div>
        <%})%>
        <!-- </div> -->
    </div>
    <div class="frm">
        <form action="/cart" method="POST">
            <!-- right side div -->
            <div class="frm-cnt">
                <div class="frm-sec">
                    <h2 class="product_name mb-5">The Total Amount Of</h2>
                    <div class="price_indiv d-flex justify-content-between">
                        <p>Product amount</p>
                        <p>₹<span id="product_total_amt">100</span></p>
                    </div>
                    <div class="price_indiv d-flex justify-content-between">
                        <p>Shipping Charge</p>
                        <p>₹<span id="shipping_charge">50.0</span></p>
                    </div>
                    <hr />
                    <div
                        class="total-amt d-flex justify-content-between font-weight-bold"
                    >
                        <p>The total amount of cart</p>
                        <p>₹<span id="total_cart_amt">290.00</span></p>
                    </div>
                    <button class="btn btn-primary text-uppercase">
                        Checkout
                    </button>
                </div>
                <!-- discount code part -->
                <div class="discount_code mt-3 shadow">
                    <div class="card">
                        <div class="card-body">
                            <a
                                class="d-flex justify-content-between"
                                data-toggle="collapse"
                                href="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                            >
                                Add a discount code (optional)
                                <span
                                    ><i class="fas fa-chevron-down pt-1"></i
                                ></span>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="mt-3">
                                    <input
                                        type="text"
                                        name=""
                                        id="discount_code1"
                                        class="form-control font-weight-bold"
                                        placeholder="Enter the discount code"
                                    />
                                    <small id="error_trw" class="text-dark mt-3"
                                        >code is First15</small
                                    >
                                </div>
                                <button
                                    class="btn btn-primary btn-sm mt-3"
                                    onclick="discount_code()"
                                >
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- discount code ends -->
                <div class="mt-3 shadow p-3 bg-white">
                    <div class="pt-4">
                        <h5 class="mb-4">Expected delivery date</h5>
                        <p>July 27th 2022 - July 29th 2022</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- </form> -->
<!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"
></script>

<script type="text/javascript">
    var product_total_amt = document.getElementById("product_total_amt");
    var shipping_charge = document.getElementById("shipping_charge");
    var total_cart_amt = document.getElementById("total_cart_amt");
    var discountCode = document.getElementById("discount_code1");
    const decreaseNumber = (incdec, itemprice) => {
        // incdec.preventDefault();
        var itemval = document.getElementById(incdec);
        var itemprice = document.getElementById(itemprice);
        console.log(itemprice.innerHTML);
        // console.log(itemval.value);
        if (itemval.value <= 0) {
            itemval.value = 0;
            alert("Negative quantity not allowed");
        } else {
            itemval.value = parseInt(itemval.value) - 1;
            itemval.style.background = "#fff";
            itemval.style.color = "#000";
            itemprice.innerHTML = parseInt(itemprice.innerHTML) - 15;
            product_total_amt.innerHTML =
                parseInt(product_total_amt.innerHTML) - 15;
            total_cart_amt.innerHTML =
                parseInt(product_total_amt.innerHTML) +
                parseInt(shipping_charge.innerHTML);
        }
    };
    const increaseNumber = (incdec, itemprice) => {
        // incdec.preventDefault();
        var itemval = document.getElementById(incdec);
        var itemprice = document.getElementById(itemprice);
        // console.log(itemval.value);
        if (itemval.value >= 5) {
            itemval.value = 5;
            alert("max 5 allowed");
            itemval.style.background = "red";
            itemval.style.color = "#fff";
        } else {
            itemval.value = parseInt(itemval.value) + 1;
            itemprice.innerHTML = parseInt(itemprice.innerHTML) + 15;
            product_total_amt.innerHTML =
                parseInt(product_total_amt.innerHTML) + 15;
            total_cart_amt.innerHTML =
                parseInt(product_total_amt.innerHTML) +
                parseInt(shipping_charge.innerHTML);
        }
    };

    const discount_code = () => {
        let totalamtcurr = parseInt(total_cart_amt.innerHTML);
        let error_trw = document.getElementById("error_trw");
        if (discountCode.value === "First15") {
            let newtotalamt = totalamtcurr - 15;
            total_cart_amt.innerHTML = newtotalamt;
            error_trw.innerHTML = "Hurray! code is valid";
        } else {
            error_trw.innerHTML = "Try Again! Valid code is First15";
        }
    };
</script>
<!-- ======= Footer ======= -->
<%- include('partials/footer') %>
