<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CheckoutPage</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="/CSS/checkout.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Checkout</h1>
    </header>
    <main>
        <section class="checkout-form">
            <form action="/checkout" method="POST">
                <h3>Contact information</h3>
                <div class="form-control">
                    <label for="checkout-email">E-mail</label>
                    <div>
                        <span class="fa fa-envelope"></span>
                        <input
                            type="email"
                            id="checkout-email"
                            name="checkoutemail"
                            placeholder="Enter your email..."
                            value="<%=info[0].username%>"/>
                    </div>
                </div>
                <div class="form-control">
                    <label for="checkout-phone">Phone</label>
                    <div>
                        <span class="fa fa-phone"></span>
                        <input
                            type="tel"
                            name="checkoutphone"
                            id="checkout-phone"
                            placeholder="Enter you phone..."
                            value="<%=info[0].phone%>"
                        />
                    </div>
                </div>
                <br />
                <h6>Shipping address</h6>
                <div class="form-control">
                    <label for="checkout-name">Full name</label>
                    <div>
                        <span class="fa fa-user-circle"></span>
                        <input
                            type="text"
                            id="checkout-name"
                            name="checkoutname"
                            placeholder="Enter you name..."
                            value="<%=info[0].username%>"
                        />
                    </div>
                </div>
                <div class="form-control">
                    <label for="checkout-address">Address</label>
                    <div>
                        <span class="fa fa-home"></span>
                        <input
                            type="text"
                            name="checkoutaddress"
                            id="checkout-address"
                            placeholder="Your address..."
                            value= "<%= info[0].address.street1 %>"
                        />
                    </div>
                </div>
                <div class="form-control">
                    <label for="checkout-city">City</label>
                    <div>
                        <span class="fa fa-building"></span>
                        <input
                            type="text"
                            name="checkoutcity"
                            id="checkout-city"
                            placeholder="Your city..."
                            value="<%=info[0].address.city%>"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <label for="checkout-country">Country</label>
                        <div>
                            <span class="fa fa-globe"></span>
                            <input
                                type="text"
                                name="checkoutcountry"
                                id="checkout-country"
                                placeholder="Your country..."
                                list="country-list"
                                value="<%=info[0].address.country%>"
                            />
                            <datalist id="country-list">
                                <option value="India"></option>
                                <option value="USA"></option>
                                <option value="Russia"></option>
                                <option value="Japan"></option>
                                <option value="Egypt"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="checkout-postal">Postal code</label>
                        <div>
                            <span class="fa fa-archive"></span>
                            <input
                                type="numeric"
                                name="checkoutpostal"
                                id="checkout-postal"
                                placeholder="Your postal code..."
                                value="<%=info[0].address.zip%>"
                            />
                        </div>
                    </div>
                </div>
                <!-- <div class="form-control_scheckbox-control">
                    <input type="checkbox" name="checkout-checkbox" id="checkout-checkbox">
                    <label for="checkout-checkbox">Save this information for next time</label>
                </div> -->
                <div class="form-control-btn">
                    <!-- <button>Pay Now</button> -->
                </div>
            </form>
        </section>

        <section class="checkout-details">
            <div class="checkout-details-inner">
                <div class="checkout-lists">
                    <% info[1].products.forEach(function(product){ %>
                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="/<%=product.img.path[0]%>" 
                                    alt=""
                                />
                            </div>
                            
                            <div class="card-details">
                                <div class="card-name"><%=product.name%></div>
                                <div class="card-price">
                                    ₹<%=product.price%> <span>₹<%=product.price+10%></span>
                                </div>
                                <!-- <div class="card-wheel">
                                    <button>-</button>
                                    <span>1</span>
                                    <button>+</button>
                                </div> -->
                            </div>
                        </div>
                   <% }) %>
                    
                   
                </div>
                <div class="checkout-shipping">
                    <h3>Shipping</h3>
                    <p>₹ 50</p>
                </div>
                <div class="checkout-total">
                    <h3>Total</h3>
                    <p>₹ <%=Math.round((info[1].totalPrice+50) * 100)/100 %></p>
                </div>
                <button id="rzp-button1">Pay</button>
            </div>
            <% var amt = Math.round((info[1].totalPrice+50) * 100)%>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    // const amt = info[1].totalPrice.toString();
    var amoun = "<%= amt %>";
    console.log("${amoun}",`${amoun}`)
    // console.log("amoun",amoun);

    var orderId ;
$(document).ready(function(){
    var settings = {
  "url": "/create/orderId",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    // "amount": `${info[1].totalPrice}`
    "amount": `${amoun}`
  }),
};

    //creates new orderId everytime
    $.ajax(settings).done(function (response) {

    orderId=response.orderId;
    console.log(orderId);
    $("button").show();
    });
});

document.getElementById('rzp-button1').onclick = function(e){

    var options = {
    "key": "rzp_test_DrxDeJy6wmVzgw", // Enter the Key ID generated from the Dashboard
    "amount": `${amoun}`, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "HomeoKart",
    "description": "HomeoKart Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
    // "order_id": `${orderId}`,
    "handler": function (response){
        console.log(response);
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)

        var settings = {
         "url": "/api/payment/verify",
         "method": "POST",
         "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },
        "data": JSON.stringify({response}),
}
        //creates new orderId everytime
$.ajax(settings).done(function (response) {

alert(JSON.stringify(response));
});
    },
    "prefill": {
        "name": "Vagisha Kumar",
        "email": "vagisha.kumar@example.com",
        "contact": "9999999999"
    },

"theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
rzp1.open();
    e.preventDefault();
}
</script>
</html>